<header class="page-header">
        <div class="page-width">
            <div class="grid">
                <div class="grid__item two-thirds below-desk-one-whole">
                    <div class="js-nav-toggle beta visuallyhidden--desk float--left soft-half--top">
                        <span class="entypo--menu"></span>
                    </div>
                    <a href="#" class="ncer-logo one-whole below-desk-one-half"><img src="{{'/img/perspective-logo.jpg?5.4' | url }}" alt="Perspective Logo"></a>
                </div><!--
             --><div class="grid__item one-third visuallyhidden--below-desk">
                    <div class="text--right">
                        <img class="push-half--top" src="{{'/img/angel-logo.jpg' | url}}" alt="Angel Solutions Limited">
                    </div>
                </div>
            </div>
        </div>
</header> <!--End page-header -->